a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

h5 {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 0;
}
.pagination {
  margin: 0;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $color-light-black;
  background-color: $color-light-blue;
  border: 1px solid $color-light-blue;
}

.page-link:hover {
  z-index: 2;
  color: $color-light-black;
  text-decoration: none;
  background-color: $color-white;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: $color-white;
  background-color: $color-light-black;
  border-color: $color-light-black;
}

a {
  color: $color-light-black;
  text-decoration: none;
  background-color: transparent;
}

* {
  box-sizing: border-box;
}
