.utility_margin-top-64px {
  margin-top: 4rem;
}

.utility_text_16px {
  font-size: 1rem;
}

.utility_text_18px {
  font-size: 1.1rem;
}

.utility_background_dark-black {
  background-color: $color-dark-black;
}

.utility_background_light-black {
  background-color: $color-light-black;
}

.utility_background_white {
  background-color: $color-white;
}

.text-light-blue {
  color: $color-light-blue;
}

.text-black {
  color: $color-black;
}

.text-white {
  color: $color-white;
}

.text-light-black {
  color: $color-light-black !important;
}

.text-dark-black {
  color: $color-dark-black;
}

.text-light-gray {
  color: $color-light-gray;
}

.utility_text-decoration_underline:hover {
  text-decoration: underline !important;
}

.text-blue {
  color: $color-blue !important;
}

.text-blue:hover {
  color: $color-blue !important;
}

.anime-header__title_text_18px > * {
  font-size: 1.1rem;
}

.utility_text_14px {
  font-size: 0.9rem;
}

.utility_height_40px {
  height: 2.5rem;
}

.utility_height_125px {
  height: 7.8125rem;
}

.utility_height-width_48px {
  height: 3rem;
  width: 3rem;
}

.utility_visibility_hidden {
  visibility: hidden;
}

.utility_height_60px {
  height: 3.75rem;
}

.utlity__z-index_1 {
  z-index: 1;
}

.utility_margin-top_320px {
  margin-top: 20rem;
}
