$color-white: #ffffff;
$color-gray: #6d6d6d;
$color-light-gray: #999999;
$color-black: #000000;
$color-blue: #0a6da4;
$color-light-blue: #61dafb;
$color-light-black: #282c34;
$color-dark-black: #20232a;
$color-light-gray: #888;
