.footer {
  color: $color-light-gray !important;

  a:hover {
    color: $color-light-gray;
  }
}

.footer__contact_text_white {
  a {
    color: $color-white !important;
  }
}

.utility__navbar {
  min-width: 400px;
}
