.nav-tabs .nav-link {
  color: $color-white;
  background-color: $color-light-black;
  margin-right: 0.4rem;
  border-color: $color-light-white $color-light-white $color-white;
}

.nav-tabs .nav-link.active {
  color: $color-light-black;
  background-color: $color-white;
  border-color: $color-light-white $color-light-white $color-white;
}

table.anime-description__title > tr {
  td {
    h5 {
      font-size: 1.1rem;
    }
  }
}

.download-link__table-data {
  tr {
    td {
      a:hover {
        text-decoration: underline;
        color: $color-light-black;
      }
    }
  }
}
