// facebook
#fb-share-button {
  background: #3b5998;
  border-radius: 3px;
  font-weight: 600;
  padding: 7px 12px;
  display: inline-block;
  position: static;
}

#fb-share-button:hover {
  cursor: pointer;
  background: #213a6f;
}

#fb-share-button svg {
  width: 18px;
  fill: white;
  vertical-align: middle;
  border-radius: 2px;
}

#fb-share-button span {
  vertical-align: middle;
  color: white;
  font-size: 14px;
  padding: 0 3px;
}

// btn primary
.btn-primary {
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-primary:hover {
  background: #213a6f;
  border-color: #3b5998;
}

.btn-primary:active {
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-primary:visited {
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-primary:focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

// btn light
.btn-light {
  border-color: #282c34;
}

.btn-light:hover {
  color: #fff;
  background: #282c34;
  border-color: #282c34;
}

.btn-light:active {
  color: #fff;
  background-color: #282c34;
  border-color: #282c34;
}

.btn-primary:visited {
  color: #fff;
  background-color: #282c34;
  border-color: #282c34;
}

.btn-primary:focus {
  box-shadow: none;
}

// utility
.utility_relative {
  position: relative;
}

.utility_absolute {
  position: absolute;
  width: 24%;
  height: 33px;
  z-index: 1;
}

.utility_absolute2 {
  position: absolute;
  width: 95%;
  height: 40px;
  z-index: 2;
}

.form-control {
  display: block;
  width: 30% !important;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color-white;
  background-color: $color-dark-black;
  background-clip: padding-box;
  border: 1px solid $color-light-black;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color-white;
  text-align: center;
  white-space: nowrap;
  background-color: $color-dark-black;
  border: 1px solid $color-light-black;
  border-radius: 0.25rem;
}

.utility__search-box {
  width: 300px !important;
}

.utility__search-box2 {
  width: 540px !important;
}
