.article-container {
  padding-top: 50px;
  width: 60%;
  margin: auto;
}

.article-body {
  padding: 25px 0px 50px 0px;
}

.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: left !important;
  background: $color-white !important;
}
