.episode-header__title a > h4 {
  font-size: 1.1rem;
}

.table .thead-dark th {
  color: #fff;
  background-color: $color-light-black;
  border-color: #454d55;
}

.slide-box {
  display: flex;
  justify-content: space-between;
}

.carousel.carousel-slider .control-arrow {
  background: rgba(0, 0, 0, 0.2) !important;
}
