.utility_margin-top-64px {
  margin-top: 4rem;
}

.utility_text_16px {
  font-size: 1rem;
}

.utility_text_18px {
  font-size: 1.1rem;
}

.utility_background_dark-black {
  background-color: #20232a;
}

.utility_background_light-black {
  background-color: #282c34;
}

.utility_background_white {
  background-color: #ffffff;
}

.text-light-blue {
  color: #61dafb;
}

.text-black {
  color: #000000;
}

.text-white {
  color: #ffffff;
}

.text-light-black {
  color: #282c34 !important;
}

.text-dark-black {
  color: #20232a;
}

.text-light-gray {
  color: #888;
}

.utility_text-decoration_underline:hover {
  text-decoration: underline !important;
}

.text-blue {
  color: #0a6da4 !important;
}

.text-blue:hover {
  color: #0a6da4 !important;
}

.anime-header__title_text_18px > * {
  font-size: 1.1rem;
}

.utility_text_14px {
  font-size: 0.9rem;
}

.utility_height_40px {
  height: 2.5rem;
}

.utility_height_125px {
  height: 7.8125rem;
}

.utility_height-width_48px {
  height: 3rem;
  width: 3rem;
}

.utility_visibility_hidden {
  visibility: hidden;
}

.utility_height_60px {
  height: 3.75rem;
}

.utlity__z-index_1 {
  z-index: 1;
}

.utility_margin-top_320px {
  margin-top: 20rem;
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
  color: #61dafb;
}

.navbar-dark .navbar-brand {
  color: #61dafb;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #61dafb;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #61dafb;
}

.nav-item .active2 {
  background-color: #61dafb;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #61dafb;
}

.nav-link > a {
  color: #ffffff;
}

.nav-link > a:hover {
  color: #61dafb;
}

.search-box {
  border: 1px solid #282c34;
}

.search-box:hover {
  background-color: #282c34;
}

.utility_hover_white:hover p {
  color: #ffffff !important;
}

.footer {
  color: #888 !important;
}
.footer a:hover {
  color: #888;
}

.footer__contact_text_white a {
  color: #ffffff !important;
}

.utility__navbar {
  min-width: 400px;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

h5 {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 0;
}

.pagination {
  margin: 0;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #282c34;
  background-color: #61dafb;
  border: 1px solid #61dafb;
}

.page-link:hover {
  z-index: 2;
  color: #282c34;
  text-decoration: none;
  background-color: #ffffff;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #ffffff;
  background-color: #282c34;
  border-color: #282c34;
}

a {
  color: #282c34;
  text-decoration: none;
  background-color: transparent;
}

* {
  box-sizing: border-box;
}

#fb-share-button {
  background: #3b5998;
  border-radius: 3px;
  font-weight: 600;
  padding: 7px 12px;
  display: inline-block;
  position: static;
}

#fb-share-button:hover {
  cursor: pointer;
  background: #213a6f;
}

#fb-share-button svg {
  width: 18px;
  fill: white;
  vertical-align: middle;
  border-radius: 2px;
}

#fb-share-button span {
  vertical-align: middle;
  color: white;
  font-size: 14px;
  padding: 0 3px;
}

.btn-primary {
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-primary:hover {
  background: #213a6f;
  border-color: #3b5998;
}

.btn-primary:active {
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-primary:visited {
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-primary:focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-light {
  border-color: #282c34;
}

.btn-light:hover {
  color: #fff;
  background: #282c34;
  border-color: #282c34;
}

.btn-light:active {
  color: #fff;
  background-color: #282c34;
  border-color: #282c34;
}

.btn-primary:visited {
  color: #fff;
  background-color: #282c34;
  border-color: #282c34;
}

.btn-primary:focus {
  box-shadow: none;
}

.utility_relative {
  position: relative;
}

.utility_absolute {
  position: absolute;
  width: 24%;
  height: 33px;
  z-index: 1;
}

.utility_absolute2 {
  position: absolute;
  width: 95%;
  height: 40px;
  z-index: 2;
}

.form-control {
  display: block;
  width: 30% !important;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #20232a;
  background-clip: padding-box;
  border: 1px solid #282c34;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  background-color: #20232a;
  border: 1px solid #282c34;
  border-radius: 0.25rem;
}

.utility__search-box {
  width: 300px !important;
}

.utility__search-box2 {
  width: 540px !important;
}

.episode-header__title a > h4 {
  font-size: 1.1rem;
}

.table .thead-dark th {
  color: #fff;
  background-color: #282c34;
  border-color: #454d55;
}

.slide-box {
  display: flex;
  justify-content: space-between;
}

.carousel.carousel-slider .control-arrow {
  background: rgba(0, 0, 0, 0.2) !important;
}

.nav-tabs .nav-link {
  color: #ffffff;
  background-color: #282c34;
  margin-right: 0.4rem;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link.active {
  color: #282c34;
  background-color: #ffffff;
  border-color: #dee2e6 #dee2e6 #fff;
}

table.anime-description__title > tr td h5 {
  font-size: 1.1rem;
}

.download-link__table-data tr td a:hover {
  text-decoration: underline;
  color: #282c34;
}

.article-container {
  padding-top: 50px;
  width: 60%;
  margin: auto;
}

.article-body {
  padding: 25px 0px 50px 0px;
}

.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: left !important;
  background: #ffffff !important;
}

iframe {
  pointer-events: none;
}
